@charset "UTF-8";

/* Rodapé como um todo */
.rodape{
    background-color: #161C2D;
    align-items: center; /* Alinha o container no centro do rodapé */
}

/* Container que contém os elementos que compõem o rodapé*/
.container{
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 30vh;
    padding-right: 30vh;
}
.container-img-menu{
    display: flex;
}

/* Seção que possui a imagem e o texto secundário */
#secao-imagem{
    padding-right: 20vh; 
    /* Aumenta a distância entre a barra de navegação e a seção. O segredo está aqui para o ajuste do espaço entre os dois.*/
}

/* Logo do Rodapé */
#logo-light{
    height: 50px;
    width: 50px;
}

/* Texto que fica abaixo da logo */
#texto-secundario-rodape{
    color: #928a8a;
    font-family: Arial, Helvetica, sans-serif;
}

/* Seções com os Títulos e menus */
.menu{
    padding-inline: 3vh; /* Espaço entre os menus no rodapé*/
    
}

/* Títulos dos menus no rodapé*/
h4{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
}

.links-menu{
    display: grid;
}


#link-rodape{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #928a8a;
    padding: 1vh;
}

/* Linha divisória */
hr{
    /*Tentar mudar a cor da linha*/
    margin-top: 3vh;
}

/* Texto que fica abaixo da linha divisória */
#direitos-reservados{
    color: #928a8a;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}